.cellphone{
    background-position: top;
}
.grow{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.center{
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
}

.ratio{
    aspect-ratio: 1/1;
}
.w-50{
    width: 50%;
}
.bluecolor{
    background-color:#5da1ce;
    color: white;
}
.tallsection{
    height: 60vh;
    object-fit:cover;
}
.shortsection{
    max-height: 40vh;
    transform: scale(1.6) translateY(60px); /* Zoom in by 20% and move down by 20px */
    object-fit: cover; /* Ensure the image fits its container after scaling */
}
.imagehelp{
    overflow:hidden; 
}
.bigp{
    max-width: 90%;
    margin:0 auto;
}
.padbelow{
    margin-bottom: 150px;
}
.direction{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image-container {
    position: relative;
    display: inline-block;
  }

.ymar{
    margin-top: 150px;
}
.position-absolute{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 40px;
    color: white; 
 }

 .position-relative{
    position:relative
 }
 
.image {
   width: 100%; 
 }

 footer{
    display: flex;
    background-color: #6C7f7D; 
    color: white;
    width: auto;
 }
 body{
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0;
    padding: 0;
 }
 .headercolor{
    background: radial-gradient(ellipse at top left, rgba(94, 162, 207, 0.7) 0%, rgba(94, 162, 207, 0) 60%),
              radial-gradient(ellipse at top right, rgba(94, 162, 207, 0.7) 0%, rgba(94, 162, 207, 0) 60%),
              radial-gradient(ellipse at bottom left, rgba(94, 162, 207, 0.7) 0%, rgba(94, 162, 207, 0) 60%),
              radial-gradient(ellipse at bottom right, rgba(94, 162, 207, 0.7) 0%, rgba(94, 162, 207, 0) 60%);
  background-blend-mode: multiply;
}

.leadtitle{
    font-family: "Pacifico", cursive;
    font-weight: 1000;
    font-size: 2.5rem;
}
.padmore{
    margin-bottom: 80px;
}
.w100{
    width: 100%;
}

@media(max-width: 769px){
    .bigp{
        max-width: 100%;
    }
    p{
        font-size: 1rem;
        white-space: normal;
    }
    .w-50{
        width: 100%;
    }
    .shortsection{
        position: relative;
        max-height: 30vh;
        transform: scale(1.8) translateY(10px); /* Zoom in by 20% and move down by 20px */
    }
}