.cellphone{
    background-position: top;
}
.grow{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.fontnice{
    font-family:monospace;
}
.center{
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
}

.ratio{
    aspect-ratio: 1/1;
}
.w-50{
    width: 50%;
}
.bluecolor{
    background-color:#5da1ce;
    color: white;
}
.tallsection{
    height: 60vh;
    object-fit:cover;
}
.shortsection{
    max-height: 40vh;
    transform: scale(1.3) translateY(30px); /* Zoom in by 20% and move down by 20px */
    object-fit: cover; /* Ensure the image fits its container after scaling */
    aspect-ratio: 1/1 ;
}
.imagehelp{
    position:relative;
    overflow:hidden; 
}
.bigp{
    margin: 150px;
}
.padbelow{
    margin-bottom: 150px;
}
.direction{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image-container {
    position: relative;
    display: inline-block;
  }

.mdi-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 40px;
    color: white; 
 }

.image {
   width: 100%; 
 }

 footer{
    display: flex;
    background-color: #6C7f7D; 
    color: white;
    width: auto;
 }
 body{
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0;
    padding: 0;
 }
 .headercolor{
    background: radial-gradient(ellipse at top left, rgba(94, 162, 207, 0.7) 0%, rgba(94, 162, 207, 0) 60%),
              radial-gradient(ellipse at top right, rgba(94, 162, 207, 0.7) 0%, rgba(94, 162, 207, 0) 60%),
              radial-gradient(ellipse at bottom left, rgba(94, 162, 207, 0.7) 0%, rgba(94, 162, 207, 0) 60%),
              radial-gradient(ellipse at bottom right, rgba(94, 162, 207, 0.7) 0%, rgba(94, 162, 207, 0) 60%);
  background-blend-mode: multiply;
}

.leadtitle{
    font-family: "Pacifico", cursive;
    font-weight: 1000;
    font-style: normal;
    font-size: 2.5rem;
}
.padmore{
    margin-bottom: 80px;
}

@media{
    
}